version: '2.0'

services:
  db:
    image: mariadb
    restart: always
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    volumes:
      - /home/apptiva/nextcloud/volumes/db:/var/lib/mysql
    networks:
      - default
    env_file:
      - db.env

  app:
    image: nextcloud:21
    restart: always
    ports:
      - 8080:80
    expose:
      - 80
    networks:
      - default
      - proxy-tier
    volumes:
      - /home/apptiva/nextcloud/volumes/nextcloud:/var/www/html
    environment:
      - MYSQL_HOST=db
    depends_on:
      - db
    env_file:
      - db.env
      - letsencrypt.env

  proxy:
    build: ./proxy
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - certs:/etc/nginx/certs:ro
      - vhost.d:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - proxy-tier

  letsencrypt-companion:
    image: jrcs/letsencrypt-nginx-proxy-companion
    restart: always
    volumes:
      - certs:/etc/nginx/certs
      - vhost.d:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/var/run/docker.sock:ro
    volumes_from:
      - proxy
    networks:
      - proxy-tier
    depends_on:
      - proxy
    environment:
      - DEFAULT_EMAIL=roman.schaller@gmail.com

volumes:
  certs:
  vhost.d:
  html:

networks:
  proxy-tier:
