version: "2.2"

services:
  db:
    image: mariadb:10.6
    restart: always
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW --innodb_read_only_compressed=OFF --max-statement-time=180
    volumes:
      - /media/data/Nextcloud-mariadb:/var/lib/mysql
    networks:
      - default
    env_file:
      - db.env
    cpus: 2.0
    mem_limit: 512m

  app:
    image: nextcloud:28
    restart: always
    ports:
      - 8080:80
    expose:
      - 80
    networks:
      - default
      - traefik_default
    volumes:
      - /media/data/Nextcloud:/var/www/html
    environment:
      - MYSQL_HOST=db
    depends_on:
      - db
    env_file:
      - db.env
    cpus: 2.0
    mem_limit: 1536m
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud.rule=Host(`nextcloud.romix.ch`)"
      - "traefik.http.routers.nextcloud.entrypoints=websecure"
      - "traefik.http.routers.nextcloud.tls.certresolver=letsencrypt"
      - "traefik.http.routers.nextcloud.middlewares=nextcloud_redirectregex"
      - "traefik.http.middlewares.nextcloud_redirectregex.redirectregex.permanent=true"
      - "traefik.http.middlewares.nextcloud_redirectregex.redirectregex.regex=`https://(.*)/.well-known/(?:card|cal)dav`"
      - "traefik.http.middlewares.nextcloud_redirectregex.redirectregex.replacement=`https://$${1}/remote.php/dav`"

networks:
  traefik_default:
    external: true
